div {
  border: 1px solid black;
  margin: 10px;
  padding: 40px;
  color: red;
  background-color: lightblue;
  border-radius: 10px;
  width: 400px;
  text-align: right;
}

h1 {
  margin-top: 30px;
}

p {
  color: blue;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  /* display: inline-block; */
  width: 200px;
  height: 250px;
}

.ancor{
    color: black;
    text-decoration: none;
}

video{
  height: 400px;
}